body {
	background-color: #e9edef;
	background-image: url('bgg.gif')
	color: #00000;
	font-family: Verdana, Times New Roman, Arial, sans-serif;
	font-size: 11px;
}

table {
	color: #000000;
	font-family: Verdana, Times New Roman, Arial, sans-serif;
	font-size: 11px;
}

a {
	color: #000000;
}

.progressErr {
	color: #B00000;
}

.progressWarn {
	color: #A08000;
}

.progressOk {
	color: #00A000;
}

.progressSkip {
	color: #A0A000;
}

.progress {
	font-family: Courier New, monospace;
	font-size: 12px;
}

.subTitle {
	color: #1C8BCB;
	font-weight: bold;
}
textarea {
	font-family: Verdana;
	font-size: 10px;
	color: #00000;
	border-style:solid;
	border-width: 1px;
	border-color: #3F474E;
	background-color: #e9edef;
}
input, select {
	font-family: Verdana;
	font-size: 12px;
	color: #00000;
	border-style:solid;
	border-width: 1px;
	border-color: #3F474E;
	background-color: #e9edef;
}