body
{
	font:				normal 12px Tahoma, Verdana, sans-serif;
	background-color:	#AEBBCF;
	margin-top:			0px;
}

a
{
	color:				#2E3E55;
	text-decoration:	none;
}

a:hover
{
	color:				#5472A4;
	text-decoration:	underline;
}

#pageTitle
{
	font:				bold 14px Tahoma, Verdana, sans-serif;
	letter-spacing:		2px;
	color:				#2C3B6A;
	display:			block;
	margin:				5px 0px 5px 0px;
}

.code
{
	font:			 	normal 10px "Courier New", Courier, Arial monospaced;
}

.installPic
{
	display:			block;
	margin-bottom:		10px;
	text-align:			center;
}

#nextStep
{
	display:			block;
	margin-top:			25px;
	font-size:			12px;
	font-weight:		bold;
}