</table>
</td></tr></table>
<table width="$tablewidth" align="center"><tr>
<td class="tablerow">$stats $foldernote</td>
</tr></table>
<br />



<form method="post" action="forumdisplay.php">
<table cellspacing="0" cellpadding="0" border="0" width="$tablewidth" align="center">
<tr><td align="right">$jump
</td></tr></table></form>


<table align="center"><tr>
<td align="center">
<font style="font-size: 11px; font-family: arial, verdana">Powered by <b><a href="http://www.xmbforum.com">XMB</a></b> v$version</font><br />
<font style="font-size: 11px; font-family: arial, verdana">© 2001 XMB Dev Team</font><br />
<font style="font-size: 11px; font-family: arial, verdana">$lang[timemsg] $totaltime $lang[textseconds]</font><br />
</td></tr></table>
</body></html>
